

ion-segment-button {
    background-color: var( --ion-color-dark ) !important;
    color: white !important;
}

.segment-button-checked {      // para el botón seleccionado tome otro color
    color: var( --ion-color-primary ) !important;   
}